[Desktop Entry]
Version=1.0
Name=Outlook
Comment=Outlook
Exec=omarchy-launch-webapp "https://outlook.office.com/mail/inbox"
Terminal=false
Type=Application
Icon=outlook
StartupNotify=true
